body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

hr {
    width: 90%;
    max-width: 500px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    color: green;
}

#errors {
    color: #971B2F;
    font-size: 18px;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    color: #6fb055;
}

#success-message {
    font-size: 24px;
    font-weight: bold;
    color: #6fb055;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 90vw; 
    max-width: 450px; 
    aspect-ratio: 1; 
    gap: 1px;
    background-color: #D5E9D1;
    margin: 10px auto;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1.5vw + 8px); 
    font-weight: bold;
    border: 1px solid #575756;
    background-color: white;
}

.tile-start {
    background-color: #f2f2f2;
}

#digits {
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    gap: 5px;
    width: 90vw;
    max-width: 450px;
    margin: 10px auto;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2vw + 10px);
    font-weight: bold;
    border: 1px solid #575756;
    cursor: pointer;
    background-color: white;
    width: 100%;
    aspect-ratio: 1;
}

@media (max-width: 600px) {
    #digits {
        grid-template-columns: repeat(5, 1fr); 
    }
    .number {
        font-size: calc(3vw + 10px); 
        padding: 15px; 
    }
}

.number-selected {
    background-color: #6fb055;
    color: white;
}

.tile:nth-child(3n) {
    border-right: 2px solid darkgreen;
}

.tile:nth-child(n+19):nth-child(-n+27),
.tile:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid darkgreen;
}

@media (max-width: 600px) {
    #board {
        width: 95vw;
        max-width: 400px;
    }
    .tile {
        font-size: calc(3vw + 8px);
    }
    #digits {
        width: 95vw;
        gap: 10vw;
    }
    .number {
        width: 12%;
        max-width: 40px;
        font-size: calc(2vw + 8px);
    }
}
